@font-face {
    font-family: 'YiSunShin';
    src: url('/assets/Yisunshin(L).woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YiSunShin';
    src: url('/assets/Yisunshin(M).woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YiSunShin';
    src: url('/assets/Yisunshin(B).woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}